# Common
README.md
CHANGELOG.md
LICENSE*
.DS_Store
.results
.sw*
.*

# Git
.git
.git*
horusec-config.json
.ci
.circleci

# Docker
docker-compose*
Dockerfile*
.dockerignore

# Code Editor
.vs
.vscode
.idea
_ide_helper.php
.editorconfig

# Prettier
.prettierignore
.prettierrc

# Sonarqube
sonar-project.properties
